In [1]:
import pandas as pd

In [2]:
df_microdadosEnem = pd.read_csv('microdadosEnem_Nacional_Amostragem.csv', sep = ';', encoding='ISO 8859-1')

In [3]:
df_microdadosEnem

,Unnamed: 0,NU_INSCRICAO,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_ANO_CONCLUIU,TP_ESCOLA,IN_TREINEIRO,...,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025,Q026,Q027
0,193,180008411121,AL,19.0,1.0,0.0,3.0,1.0,1.0,0.0,...,A,B,B,A,B,A,B,B,A,A
1,283,180008788016,AL,40.0,0.0,2.0,3.0,6.0,1.0,0.0,...,A,B,B,A,B,A,A,B,A,A
2,305,180008411503,AL,24.0,1.0,0.0,3.0,7.0,1.0,0.0,...,B,B,B,A,B,A,A,B,A,C
3,336,180008257102,AL,28.0,0.0,0.0,3.0,8.0,1.0,0.0,...,A,B,A,A,D,A,A,B,A,A
4,372,180008309661,AL,17.0,1.0,0.0,3.0,0.0,1.0,0.0,...,A,C,B,A,C,A,A,A,B,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64600,5513028,180013469026,AL,34.0,1.0,0.0,3.0,0.0,1.0,0.0,...,A,B,A,B,B,B,B,A,A,A
64601,5513039,180013985741,AL,20.0,0.0,0.0,3.0,2.0,1.0,0.0,...,A,B,A,A,B,A,A,B,A,A
64602,5513342,180013955750,AL,18.0,1.0,0.0,3.0,0.0,2.0,0.0,...,A,A,A,A,B,A,A,A,B,A
64603,5513369,180013983882,AL,18.0,1.0,0.0,2.0,0.0,1.0,0.0,...,A,B,B,A,C,A,B,B,B,B
64604,5513524,180012390551,AL,18.0,1.0,0.0,1.0,1.0,1.0,0.0,...,A,B,A,A,B,A,A,B,A,E